 img {
    width: 500px;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
 }

 .texto{
    text-align: center;
 }

 @keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
 }